.container {
  display: flex;
  flex-direction: row;
  padding: 4px;
}

.input {
  margin: 0px;
  margin-left: 10px;
}

.input:focus {
  outline: none;
}

.todoInactive {
  color: #b7b7b7;
  text-decoration: line-through;
}
